[submodule "p4"]
	path = submodules/p4
	url = https://github.com/INSAlgo/Concours-Puissance4.git
	branch = fix_drain
[submodule "submodules/auto_compiler"]
	path = submodules/auto_compiler
	url = https://github.com/INSAlgo/auto_compiler.git
	branch = main
